<html>
	<%- include('./partials/head.ejs') %>
	<body>
		<div class="page-container">
			<div class="header-container">
				<h1><%= title %></h1>
				<div class="nav-container">
					<a href="/products">Products</a>
					<a href="/categories">Categories</a>
				</div>
			</div>
			<div class="body-container">
				<h2 class="section-header">Categories</h2>
				<div class="">
					<% categories.forEach((category) => { %>
					<div class="category-container">
						<h3 class="section-header"><%= category.category_name %></h3>
						<div class="card-container">
							<% category.products.forEach((product) => { %>
							<div class="product-card">
								<h4 class="card-header"><%= product.coffee_name %></h4>
								<p><%= product.roaster_name %></p>
								<a class="justify-end" href="/products/<%= product.coffee_id %>"
									>More info</a
								>
							</div>
							<%}); %>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
		</div>
	</body>
</html>
