<html>
	<%- include('./partials/head.ejs') %>
    <body>
        <h1><%= title %></h1>
        <form action="<%= product.id %>/update" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= product.coffee_name %>" required>

            <label for="roaster_name">Roaster:</label>
            <select name="roaster_name" id="roaster_name">
                <% roasters.forEach((roaster) => { %>
                 <option value="<%= roaster %>" <%= product.roaster_name === roaster ? "selected" : "" %> > <%= roaster %> </option>
               <% }); %>
            </select>

            <label for="origin_country">Country</label>
            <select name="origin_country" id="origin_country">
                  <% origins.forEach((origin) => { %>
                 <option value="<%= origin %>" <%= product.origin === origin ? "selected" : "" %> > <%= origin %> </option>
               <% }); %>
            </select>
            <label for="process">Process Type:</label>
            <select name="process" id="process">
                   <% processes.forEach((process) => { %>
                 <option value="<%= process %>" <%= product.process === process ? "selected" : "" %> > <%= process %> </option>
               <% }); %>
            </select>

            <label for="roast_style">Roast Style:</label>
            <select name="roast_style" id="roast_style">
                   <% roasts.style.forEach((roastStyle) => { %>
                 <option value="<%= roastStyle %>" <%= product.roast_style === roastStyle ? "selected" : "" %> > <%= roastStyle %> </option>
               <% }); %>
            </select>

            <label for="roast_type">Roast Type:</label>
            <select name="roast_type" id="roast_type">
                   <% roasts.type.forEach((roastType) => { %>
                 <option value="<%= roastType %>" <%= product.roast_type === roastType ? "selected" : "" %> > <%= roastType %> </option>
               <% }); %>
            </select>

            <button type="submit">Update</button>
        </form>
    </body>
</html>
