<html>
	<%- include('./partials/head.ejs') %>
    <body>
        <h1><%= title %></h1>
        <form action="<%= product.id %>/update" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= product.coffee_name %>" required>

            <label for="roaster_name">Roaster:</label>
            <select name="roaster_name" id="roaster_name">
              <% roasters.forEach((roaster) => { %>
                <option value="<%= roaster.name %>" <%= product.roaster_name === roaster.name ? "selected" : "" %> > <%= roaster.name %> </option>
              <% }); %>
            </select>

            <label for="origin_country">Country</label>
            <select name="origin_country" id="origin_country">
              <% origins.forEach((origin) => { %>
                 <option value="<%= origin.country %>" <%= product.origin === origin.country ? "selected" : "" %> > <%= origin.country %> </option>
              <% }); %>
            </select>

            <label for="process">Process:</label>
            <select name="process" id="process">
              <% processes.forEach((process) => { %>
                <option value="<%= process.name %>" <%= product.process === process.name ? "selected" : "" %> > <%= process.name %> </option>
              <% }); %>
            </select>

            <label for="variety">Variety:</label>
            <select name="variety" id="variety">
              <% varieties.forEach((variety) => { %>
                <option value="<%= variety.name %>" <%= product.variety === variety.name ? "selected" : "" %> > <%= variety.name %> </option>
              <% }); %>
            </select>

            <label for="roast_style">Roast Style:</label>
            <select name="roast_style" id="roast_style">
              <% roastsStyles.forEach((roast) => { %>
                <option value="<%= roast.style %>" <%= product.roast_style === roast.style ? "selected" : "" %> > <%= roast.style %> </option>
              <% }); %>
            </select>

            <label for="roast_type">Roast Type:</label>
            <select name="roast_type" id="roast_type">
              <% roastsType.forEach((roast) => { %>
                <option value="<%= roast.type %>" <%= product.roast_type === roast.type ? "selected" : "" %> > <%= roast.type %> </option>
              <% }); %>
            </select>

            <label for="price">Price:</label>
            <input type="number" name="price" id="price" step="0.01" value="<%= product.price %>" required>

            <button type="submit">Update</button>
        </form>
    </body>
</html>
